# Assignment No 2 (20UCS304)
## Tuples

* Creating Tuple

In [1]:
t1=(1,2,3,1,3)
t2=()        #empty tuple
t3=tuple([1,2])   #using constructor
print(t1)
print(t2)
print(t3)

(1, 2, 3, 1, 3)
()
(1, 2)

* Accessing elements from tuple

In [2]:
print(t1[0])  #Accessing single values
print(t1[0:2]) #Accessing multiple values

1
(1, 2)

* Updating tuple (We cant update tuple. Tuples are immutable)

In [3]:
t1[0]=5
print(t1)

TypeError: 'tuple' object does not support item assignment

* Deleting a tuple (Deleting single element is not possible we can delete entire tuple)

In [ ]:
print(t1)
del t1
print(t1) # Should generate error

(1, 2, 3, 1, 3)

NameError: name 't1' is not defined

* ## Basic operations on tuple

In [ ]:
t1=('Java','Python','JS','TypeScript')
t2=('React','Angular','Django','Spring')

1. len()               ..to calculate length

In [ ]:
print('length of t1 =',len(t1))

length of t1 = 4

2. Concatination

In [ ]:
print('After concating t1 and t2 : ',t1+t2)

After concating t1 and t2 :  ('Java', 'Python', 'JS', 'TypeScript', 'React', 'Angular', 'Django', 'Spring')

3. Repetation

In [ ]:
print('Three times t1 : ',t1*3)

Three times t1 :  ('Java', 'Python', 'JS', 'TypeScript', 'Java', 'Python', 'JS', 'TypeScript', 'Java', 'Python', 'JS', 'TypeScript')

4. Membership

In [ ]:
print('Java exists in t1 :','Java' in t1)

Java exists in t1 : True

In [ ]:
print('React exists in t1 :','React' in t1)

React exists in t1 : False

5. Iterating

In [ ]:
for i in t1:print(i,end='\t')

Java	Python	JS	TypeScript

6. Indexing, Slicing and Matrixes

In [ ]:
#indexing, slicing and matrixes
t3=t1+t2
print(t3)
print(t3[3])   #accesing 1 element using indexing 
print(t3[-1])  #Negative indexing
print(t3[1:])  #display element in the tuple from 1 index upto the last element in the tuple
print(t3[1:6])  #display element in the tuple from 1 index upto 6-1 that is 5 index
print(t3[2:])   #display element in the tuple from 2 index upto the last element in the list
print(t3[:4])   #display element in the tuple from 0 index upto the 4-1 index
print(t3[:-2]) 
print(t3[8]) #Acceesing invalid index (Should generate error)

('Java', 'Python', 'JS', 'TypeScript', 'React', 'Angular', 'Django', 'Spring')
TypeScript
Spring
('Python', 'JS', 'TypeScript', 'React', 'Angular', 'Django', 'Spring')
('Python', 'JS', 'TypeScript', 'React', 'Angular')
('JS', 'TypeScript', 'React', 'Angular', 'Django', 'Spring')
('Java', 'Python', 'JS', 'TypeScript')
('Java', 'Python', 'JS', 'TypeScript', 'React', 'Angular')

IndexError: tuple index out of range

7. max(), min()

In [ ]:
t3=(10,20,15,44,33)
print('Maximum from t3',max(t3))
print('Minimum from t3',min(t3))

Maximum from t3 44
Minimum from t3 10

## Dictionary

* Creating Dictionary

In [ ]:
d1={"name":'Meghanath',"PRN":"20UCS304","CGPA":"8.88"}
d2=dict() #Using constructor

* Accessing Values of dictonary

In [ ]:
print('Name : ',d1['name'])
print('PRN : ',d1['PRN'])
print('CGPA : ',d1['CGPA'])

Name :  Meghanath
PRN :  20UCS304
CGPA :  8.88

* Removing attributes

In [ ]:
del d1['CGPA']
print(d1)

{'name': 'Meghanath', 'PRN': '20UCS304'}

* Clearing Dictionary

In [ ]:
d1.clear()
print(d1)

{}

* Deleting dictionary

In [ ]:
del d1
print(d1)

NameError: name 'd1' is not defined

* Propertise of dictionary key

In [ ]:
# More than one value for a key accepts the last one
d1={"Name":'MS','PRN':"20UCS304","Name":"Meghanath"}
d1

{'Name': 'Meghanath', 'PRN': '20UCS304'}

In [ ]:
# Keys should be immutable
d1={['Name']:'Not Valid'}

TypeError: unhashable type: 'list'

* Dictionary Built in methods

In [ ]:
d1={"JavaScript":["React","Angular","Next"],"Java":["Spring","Hibernate"],"Python":["Django","Flask"]}
d2=d1.copy()   #copy the content in the one dictionary to another
print(d2) 

d2.clear()   #clear the all element in the dictionary
print(d2)

keys=d1.keys()   #return the key element in the dictionary
print(keys)

values=d1.values()  #return the value element in the dictionary
print(values)

{'JavaScript': ['React', 'Angular', 'Next'], 'Java': ['Spring', 'Hibernate'], 'Python': ['Django', 'Flask']}
{}
dict_keys(['JavaScript', 'Java', 'Python'])
dict_values([['React', 'Angular', 'Next'], ['Spring', 'Hibernate'], ['Django', 'Flask']])